@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	color: black;
}

img {
	display: block;
}

body {
	position: relative;
	height: 100vh;
	background-color: hsl(0, 0%, 93%);
}

main {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin: 0 auto 0 auto;
	padding: 3rem 0 0 0;
	width: 85%;
	max-width: 1280px;
	margin-bottom: 1rem;
}

main div:first-child {
	text-align: center;
	max-width: 315px;
	min-width: 5rem;
}

main div:first-child span:first-child {
	display: block;
	font-size: 1.6rem;
	color: hsl(229, 6%, 66%);
}

main div:first-child span:nth-child(2) {
	display: block;
	font-size: 1.6rem;
	font-weight: 600;
	padding-bottom: 1rem;
}

main div:first-child span:nth-child(3) {
	display: block;
	padding-bottom: 2.5rem;
	color: hsl(229, 6%, 66%);
}

.card {
	display: flex;
	flex-flow: column nowrap;
	align-items: left;
	width: clamp(8rem, 85vw, 22rem);
	box-shadow: 2px 2px 15px rgb(185, 185, 185);
	max-width: 319px;
	min-width: 5rem;
	background-color: white;
	border-radius: 5px;
	padding: 1.5rem;
	margin-top: 1rem;
}

.card:nth-child(2) {
	border-top: 3px solid hsl(180, 62%, 55%);
}

.card:nth-child(3) {
	border-top: 3px solid hsl(0, 78%, 62%);
}

.card:nth-child(4) {
	border-top: 3px solid hsl(34, 97%, 64%);
}

.card:nth-child(5) {
	border-top: 3px solid hsl(212, 86%, 64%);
}

.card img {
	width: 50px;
	margin: 1.5rem 0 0 auto;
}

.title {
	font-weight: 600;
	font-size: 1.5rem;
}

.job {
	color: hsl(229, 6%, 66%);
	font-weight: 400;
	font-size: 1rem;
}

footer {
	padding-bottom: 3rem;
}

@media (min-width: 1025px) {
	body {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: center;
	}

	main {
		width: 100%;
		display: grid;
		grid-template-columns: auto auto auto;
		grid-template-rows: min-content min-content min-content;
		grid-template-areas:
			"sum-text sum-text sum-text"
			"sup-card tea-card cal-card"
			"sup-card kar-card cal-card";
		gap: 2rem;
		padding: 0;
	}

	main div:first-child {
		grid-area: sum-text;
		max-width: 450px;
		height: fit-content;
		margin: 0 auto 0 auto;
	}

	main div:first-child span:nth-child(1) {
		font-size: 2rem;
	}
	
	main div:first-child span:nth-child(2) {
		font-size: 2rem;
	}

	main div:first-child span:nth-child(3) {
		grid-area: our-text;
		margin: 0 auto 0 auto;
		padding-bottom: 1rem;
	}

	.card:nth-child(2) {
		grid-area: sup-card;
	}
	
	.card:nth-child(3) {
		grid-area: tea-card;
	}
	
	.card:nth-child(4) {
		grid-area: kar-card;
	}
	
	.card:nth-child(5) {
		grid-area: cal-card;
	}
}

.attribution {
	font-size: 11px;
	text-align: center;
}
    
.attribution a {
	color: hsl(228, 45%, 44%);
}